
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease;
}

body {
    font-family: Arial, sans-serif;
}

input {
    display: none;
}

.btn {
    padding: 10px 18px;
    margin: 10px;
    border: 2px solid #000;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
}

.dashboard {
    min-height: 100vh;
    background: rgb(92, 110, 171);
    color: rgb(55, 0, 255);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #7f8cd4;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    padding: 30px;
    background: #7f8cd4;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    font-size: 18px;
}
.card:hover{
    transform: scale(1.05);
}

.card span {
    font-size: 28px;
    font-weight: bold;
}

.content {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.box {
    flex: 1;
    padding: 40px;
    background: #7f8cd4;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.box:hover{
    transform: scale(1.05);
}

#dark:checked ~ .dashboard {
    background: #0a1a2f;
    color: #ffffff;
}

#dark:checked ~ .dashboard .navbar {
    background: #081525;
}

#dark:checked ~ .dashboard .card,
#dark:checked ~ .dashboard .box {
    background: #102542;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

#dark:checked ~ label[for="dark"] {
    background: #0a1a2f;
    color: white;
    border-color: white;
}

#light:checked ~ label[for="light"] {
    background: rgb(255, 255, 255);
    color: black;
}
footer {
    text-align: center;
    padding: 15px;
    background-color: #f2f2f2;
    color: #333;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}

#dark:checked ~ .dashboard footer {
    background-color: #081525;
    color: #fff;
}
