body{
    background-color: rgb(152, 152, 152);
    
}
.text{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    text-align: center;
    font-size: 40px;
    color: rgb(66, 65, 65);
}
.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    

}
.product-card{
    background-color: rgb(182, 182, 182);   
    width: 100%;
    max-width: 300px;
    border-radius:10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(34, 34, 34, 0.981);
    border: 1px solid #666666;
}
.product-card img {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}
.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}

.product-card h3 {
    font-size: 20px;
    margin: 10px 0;
}

.product-card p {
    font-size: 13px;
    color: #555;
}

.price {
    color: rgb(2, 93, 251);
    font-weight: bold;
    margin: 10px 0;
}

.button {
    background: #c04d0b;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: #7a1b06;
}
@media (max-width:600px){
    .product-card img{
        height:150px;
    }
    .product-card h3{
        font-size:16px;
    }
    .product-card p{
        font-size: 12px;
    }
}
@media (min-width:601px) and (max-width:1024px){
    .product-card img{
        height:180px;
    }
    .product-card h3{
        font-size: 18px;
    }
}